<a
  class="btn btn-success mb-3"
  routerLink="/books/add"  
  >Ajouter un livre</a>
<table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Prix</th>
        <th scope="col">Editer</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <!--Affiche en boucle : Directive ngFor (avant la version 17) ou @for (à partie de la version 17)-->
      @for (book of books; track $index) {
        <tr>
          <th scope="row">{{book.id}}</th>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.price}}</td>
          <td><a class="btn btn-primary" [routerLink]="['/books','edit',book.id]">Editer</a></td>
          <td><button class="btn btn-danger" (click)="deleteBook(book.id)" >Supprimer</button></td>
        </tr>
      }
    </tbody>
</table>

<app-books-stats></app-books-stats>
