<h2>Editer le livre {{book!.title}} :</h2>
<!--Solution simplifiée pour la gestion du formulaire (non recommandée!!!)-->
<form id="addForm" (ngSubmit)="editBook(f)" #f="ngForm">
    <div class="mb-3">
      <label for="title" class="form-label">Titre*</label>
      <input type="text" class="form-control" id="title" name="title" ngModel #title="ngModel" [(ngModel)]="book!.title"  required />
        @if (title.invalid && title.touched) {
        <span class="error">Ce champ est obligatoire!</span>
        }
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Auteur*</label>
      <input type="text" class="form-control" id="author" name="author" ngModel #author="ngModel" [(ngModel)]="book!.author"  required />
      @if (author.invalid && author.touched) {
        <span class="error">Ce champ est obligatoire!</span>
      }
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Prix*</label>
      <input type="number" class="form-control" id="price" name="price" ngModel #price="ngModel" [(ngModel)]="book!.price"  required />
      @if (price.invalid && price.touched) {
        <span class="error">Ce champ est obligatoire!</span>
      }
    </div>
    <button 
        type="submit" 
        id="btnValidAdd" 
        class="btn btn-primary"
        [disabled]="f.invalid">
            Valider
        </button>
    <div>* : champ obligatoire</div>
  </form>

